:root {
    --color01: #CBECFF;
    --color02: #0962E8;
    --color03: rgba(41, 55, 78, 1);
    --color04: rgb(239, 249, 255);
    --color05: rgb(233, 246, 255);
}

a, a:visited, a:visited, a:active, a:hover {
    color: var(--color02);
}

* {
    scrollbar-width: auto;
    scrollbar-height: auto;
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}

*::-webkit-scrollbar {
    width: auto;
    height: auto;
}

*::-webkit-scrollbar-track {
    background: var(--color01);
    /*border-radius: var(--scrollbarBorderRadius);*/
}

*::-webkit-scrollbar-thumb {
    /*
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
    */
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

div, p, table, span, a {
    box-sizing: border-box;
}

html {
}

body {
    margin: 0;
    padding: 0;
    color: var(--color03);
    font-size: 14px;
    color: #000;
    overflow-x: hidden;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 130%;
}

.content-wrapper {
    min-height: inherit;
    margin-bottom: 100px;
}

.content {
    width: 1024px;
    max-width: calc(100% - 120px);
    margin: auto;
}

.slider-wrapper {
    background: var(--color01) url('../images/slide01.webp') no-repeat calc(50% + 317px) 50% / contain;
}

.slider {
    height: 678px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.slider > div {
    height: inherit;
}

.slider__left {
    display: flex;
    padding-right: 20px;
    width: 50.59%;
}

.slider__right {
    position: relative;
    width: 49.41%;
}

.slider__content {
    max-width: calc(100% - 20px);
}

.slider__menu {
    height: 118px !important;
    position: absolute;
    bottom: -28px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.slider__menu-item {
    height: inherit;
    width: calc(100% / 4 - 60px / 4);
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    padding: 10px 20px;
    gap: 15px;
}

.slider__menu-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    width: calc(100% - 39.17px);
    display: flex;
}

.slider__menu-ico {
    width: 39.17px;
    height: 39.17px;
    min-width: 39.17px;
    min-height: 39.17px;
    margin-top: 5px;
    margin-left: -2.17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color04);
    border-radius: 50%;
    color: var(--color02);
    position: relative;
}

.slider__menu-ico i {
    position: relative;
    left: 1px;
}

.demo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 129px 0 0 235px;
    margin-left: 0;
    display: flex;
    text-decoration: none;
    gap: 3px;
}

.logo > span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 130%;
}

.logo__fin {
    color: var(--color03) !important;
}

.logo__kit {
    background: #FFFFFF;
    width: 122px;
    height: 80px;
    border-radius: 20px;
}

.slider__description {
    font-size: 22px;
    font-weight: 400;
    line-height: 130%;
    margin-top: 14px;
    width: 384px;
    max-width: 100%;
}

.slider__language {
    position: absolute;
    top: 31px;
    right: 0;
    display: flex;
    gap: 15px;
}

.slider_language-item {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.slider_language-item:not(.active) {
    color: var(--color03); !important;
}

.slider_language-item.active {
    background: #FFFFFF;
    border-radius: 50%;
}

.get-order {
    display: flex;
    width: 199px;
    height: 52px;
    margin-top: 39px;
    justify-content: center;
    align-items: center;
    background: var(--color02);
    border: 0 solid transparent;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
}

.title-h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    line-height: 130%;
    margin-top: 0;
}

.title-h2_left {
    text-align: left;
}

.title-h2_from-slider {
    margin-top: 141.19px;
}

.title-h2 span {
    color: var(--color02);
}

.key-products {
    margin-top: 44px;
    padding: 37px 20px;
    display: flex;
    gap: 20px;
}

.key-products > div {
    width: calc(50% - 10px);
    min-height: 328px;
    display: flex;
    background: var(--color01);
    border-radius: 30px;
    overflow: hidden;
    padding: 37px 0 0  37px;
}

.key-products > div > div {
    width: 50%;
    height: 100%;
}

.key-products__content {
    padding-right: 23px;
}

.key-products__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}

.key-products__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 12px;
}

.key-products__img {
}

.key-products__auto .key-products__img {
    background: var(--color01) url('../images/key-products__auto.webp') no-repeat 100% calc(100% + 7px) / contain;
}

.key-products__robo .key-products__img {
    background: var(--color01) url('../images/key-products__robo.webp') no-repeat 100% calc(100% + 7px) / contain;
}

.broker {
    display: flex;
    gap: 20px;
    margin-top: 114px;
}

.broker > div {
    width: calc(50% - 10px);
}

.broker__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.broker__right {
    display: flex;
    flex-wrap: wrap;
    gap: 21px 19px;
}

.broker__right-item {
    width: calc(50% - (19px / 2));
    padding: 17px 26px 0;
}

.broker__right-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--color04);
    color: var(--color02);
    border-radius: 50%;
    position: relative;
}

.broker__right-ico i {
    position: relative;
    left: -1px;
    top: -1px;
    font-size: 40px;
}

.broker__right-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    margin-top: 13px;
}