.content {
    width: 100%;
    max-width: calc(100% - 32px);
}

.slider_wrapper {
    background: var(--color01) url('../images/slide01.webp') no-repeat calc(50% + 167px) 20px / contain;
}

.slider {
    height: 963px;
    flex-direction: column-reverse;
    gap: 0;
}
.slider > div {
    height: auto;
}

.slider_left {
    padding-right: 0;
    width: 100%;
    height: calc(963px - 498px) !important;
    position: relative;
    top: -37px;
}

.slider_right {
    width: 100%;
    height: 498px;
    position: static;
}

.slider_language {
    top: 24px;
}

.slider_content {
    max-width: 100%;
}

.logo {
    margin-top: 0;
}

.logo > span {
    font-size: 44px;
}

.logo_kit {
    width: 89px;
    height: 59px;
    border-radius: 16px;
}

.slider_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    margin-top: 12px;
    max-width: calc(100% - 20px);
}

.get_order {
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

.slider_menu {
    height: auto !important;
    bottom: 33px;
}

.slider_menu_item {
    height: inherit;
    width: calc(100% / 2 - 20px / 2);
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    padding: 0 11px 0 18px;
    gap: 7.83px;
    height: 118px;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.slider_menu_text {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    width: 100%;
}

.slider_menu_ico {
    margin-top: -5px;
    margin-left: 0;
}

.title_h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
}

.title_h2_from_slider {
    margin-top: 40px;
}

.key_products {
    display: block;
    margin-top: 24px;
    padding: 0;
}

.key_products > div {
    width: 100%;
    min-height: 215px;
    padding: 25px 16px 0;
}

.key_products_robo {
    margin-top: 16px;
}

.key_products_content {
    padding-right: 0;
}

.key_products_title {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.key_products_description {
    font-size: 13px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 4px;
}

.key_products_img {
    height: inherit !important;
}

.broker {
    display: block;
    margin-top: 40px;
}

.broker > div {
    width: 100%;
}

.title_h2_left {
    text-align: center;
}

.title_h2_left span {
    display: block;
}

.broker_right {
    margin-top: 32px;
    gap: 20px 15px;
}

.broker_right_item {
    border-radius: 20px;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
    height: 134px;
}

.broker_right_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    margin-top: 7.83px;
}

.broker_right_item {
    width: calc(50% - (15 / 2));
    padding: 0 8px 0 18px;
}

.broker_right_ico {
    width: 39px;
    height: 39px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.broker_right_ico i {
    top: 2px;
    left: 2px;
    font-size: 24px;
}